<!DOCTYPE html>
<html>
  <head>
    <title>new User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="adduser" method="post" action="/adduser">

      <fieldset>
        <legend>INFORMATION</legend>


      <p>Name:<input id="inputUserName" type="text" placeholder="username" name="username" required/></p>
      
      <p>Email: <input id="inputUserEmail" type="text" placeholder="email" name="useremail" required /></p>
     

      
      <br>
      <button id="btnSubmit" type="submit">Register</button>
      </fieldset>
    </form>
  </body>
</html>